:root {
    --light-pink: #DF2378;
    --dark-pink: #CD0C69;
    --bg: #161733;
    --light-grey: #F3F3F5;
    --grey: #BABABC;
    --pink: #A3567F;
    --brown: #B4B372;
    --blue: #678AB5;
    --teal: #4C8D89;
    --purple: #562954;
}